apiVersion: v1
kind: List
items:
- apiVersion: networking.istio.io/v1alpha3
  kind: VirtualService
  metadata:
    name: app-paths
    namespace: {{ namespace }}
  spec:
    hosts:
    - app.{{ wildcard_domain }}
    - app.{{ namespace }}.svc.cluster.local
    gateways:
    - app-gateway
    http:
{% for index in range(1, num_apps | int + 1) %}
    - match:
      - uri:
          prefix: /app-{{ index }}/
      rewrite:
        uri: /
      route:
      - destination:
          host: app
          subset: app-{{ index }}
{% endfor %}
- apiVersion: networking.istio.io/v1alpha3
  kind: DestinationRule
  metadata:
    name: app-subsets
    namespace: {{ namespace }}
  spec:
    host: app.{{ namespace }}.svc.cluster.local
    trafficPolicy:
      loadBalancer:
        simple: RANDOM
    subsets:
{% for index in range(1, num_apps | int + 1) %}
    - name: app-{{ index }}
      labels:
        deploymentconfig: app-{{ index }}
{% endfor %}
- apiVersion: networking.istio.io/v1alpha3
  kind: VirtualService
  metadata:
    name: app-canary
    namespace: {{ namespace }}
  spec:
    hosts:
    - app.{{ wildcard_domain }}
    - app.{{ namespace }}.svc.cluster.local
    gateways:
    - app-gateway
    http:
    - match:
      - uri:
          prefix: /any/
      rewrite:
        uri: /
      route:
      - destination:
          host: app
          subset: stable
        weight: 90
      - destination:
          host: app
          subset: canary
        weight: 10
- apiVersion: networking.istio.io/v1alpha3
  kind: DestinationRule
  metadata:
    name: app-canary
    namespace: {{ namespace }}
  spec:
    host: app.{{ namespace }}.svc.cluster.local
    trafficPolicy:
      loadBalancer:
        simple: RANDOM
    subsets:
    - name: stable
      labels:
        app.variant: stable
    - name: canary
      labels:
        app.variant: canary